NODE_ENV=dev

# SERVER PORT:
PORT=4000

# DATABASE CONNECTION:
DB_HOST=db
DB_NAME=promoflash_db
DB_USERNAME=root
DB_PASSWORD=root
DB_PORT=5432

# PGAdmin credentials:
PGADMIN_DEFAULT_EMAIL=matheusdalvino50@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# JWT
JWT_SECRET_KEY="JWT_SECRET_KEY"